services:
  api:
    build: .
    ports:
      - "9050:8000"
    env_file:
      - .env
    depends_on:
      - redis
    volumes:
      - shared_temp:/app/temp
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  worker:
    build: .
    command: uv run celery -A worker.celery worker --loglevel=info --concurrency=1
    env_file:
      - .env
    depends_on:
      - redis
    volumes:
      - shared_temp:/app/temp
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  redis:
    image: redis:7

volumes:
  shared_temp:
